
.createnewProject {
    width:100%;
    border          : solid 0.5px #dedddd;
    background-color: #f7f6fc;
    padding-top     : 20px;
    border-radius   : 5px;
    top: 15px;
    height:240px;
    .grid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-auto-columns: 25%;
        grid-auto-flow: column;
        overflow: scroll;
        overflow-y:hidden;
    }
}


.btn.plusBtn{
    height: 100px;
    box-shadow: 13px 10px 18px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 6px;
    img{
        height: 60px;
        width: 100%;
    }    
}

.projectItem:hover{
    .closepos{
      color:Indianred;
    }
}

.projectItem {
    .closepos{
        color:transparent;
        float:right; 
        cursor:pointer;
    }
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100px;
        border-radius: 5px;
    }
    h4 {
        font-size: 1.5rem;
        font-family: "MontserratSemiBold";
        font-size: 0.8rem !important;
        margin-top: 10px;
    }
    p{
        font-family: "MontserratMedium";
        font-size: 0.8rem !important;
        margin-bottom: 5px;
    }
    
}
.table-container.serving-modeltable{
    margin-top: 25px;
    overflow: auto;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.disabled {
    cursor: none;
    opacity:0.6;         
}

.freequota{
    color: white;
    background:royalblue;
    border-radius: 4px;
    height: 30px;
    padding: 5px;
    font-size:12px;
    cursor:default;
    display: inline-flex;
}

.freequota:hover .freequota{
    background:#1e228a;
}

.quotamessage{
    display:flex;
    font-size:11px;
    text-align: center;
    max-height: 50px;
    position: relative;
    line-height: 25px;
    background-color: #f8d7da;
    color: #721c24;
    margin-bottom: 1%;
    margin-left:2%;
    padding:5px;
    width:fit-content;
}

.servingsearchblock{
  width   : 30%;
  position: relative;

  input {
    position     : relative;
    z-index      : 1;
    border-radius: 50px;
    height       : 30px;
    font-size    : 13px;
    align-items  : center;
    width        : 100%;
    padding-left : 40px;
    box-shadow   : 0 2px 50px 0 rgba(0, 0, 0, 0.21);
  }

  &::after {
    content            : "";
    background         : url("../../../assets/images/dashboard/search.svg");
    content            : "";
    position           : absolute;
    left               : 5px;
    top                : 3px;
    width              : 24px;
    height             : 24px;
    z-index            : 11;
    box-shadow         : 0 2px 50px 0 rgba(0, 0, 0, 0.21);
    background-color   : #d3f4e5;
    border-radius      : 50%;
    background-size    : 69%;
    background-repeat  : no-repeat;
    background-position: center;
  }
}

.menu{
    ul {
       list-style: none;
       padding: 0;
    }
    li {
       padding: 5px 10px;
       margin:1px;
       background-color: #fff;
       border: 1px solid #DDDDDD;
       font-size:12px;
       border-radius:5px;
    }
}

.menu .list {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    background: transparent;
    border-width: thin;
    display:flex;
    flex-direction:column;
    position:absolute;
    z-index:999;
    margin-top:35px;
}

.menu:hover .list{
    max-height: 400px;
    overflow:auto;
    transition: max-height 0.25s ease-in;
}

.viewcontent{
    position: relative;
}

::ng-deep .mat-paginator-container{
    justify-content: center !important;
}

.height{
    height:40px;
    margin-bottom: 5px;
    outline: none;
    padding: 0 10px 0 10px;
    border: none;
    background: transparent;
    font-size: 0.8rem;
    text-align: center;
    resize:none;
    width:100%;
}

::ng-deep .mat-tooltip {
    background-color: #141e30;
}