<div class="modal-header">
    <h4 class="modal-title">Authentication</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary">Submit</button>
</div>