
<div class="modal-header">
    <h4 class="modal-title">Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="closemodal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body theme-default">
    <!-- <div class="selectionBlk">
        <div> -->
        <!-- <div *ngIf="!inputForm.valid && errorMsg">
            <p style="color:red;margin-top:2%;margin-left:2%">*Please fill in the valid values</p>
    </div> -->
    <div class="col-sm-12 row m-0 page-main-height">
        
        <div *ngIf="ioType === 'input'" class="table-container columnlist">
            <form [formGroup]="inputForm"> 
                <table mat-table [dataSource]="columnList" formArrayName="columns"> 
                                            
                <ng-container *ngFor="let item of objectKeys(columnList[0]); let i=index;" matColumnDef="{{item}}">
                    <th mat-header-cell *matHeaderCellDef> {{item}} </th>
                    <td mat-cell *matCellDef="let element; let j=index;" [formGroupName]="j">

                        <div *ngIf="inputList[i].type == 'Text' || inputList[i].type == 'None' || !inputList[i].type || (inputList[i].type == 'Enum' && inputList[i].allowedValues.length == 0)" class="headList">                                  
                            <input [ngModel]="element[item]" [name]="'input'+j" id="{{'editableText'+j}}" placeholder="Enter text" formControlName="{{item}}{{j}}" type="text" value="element[item]"/>     
                        </div>

                        <div *ngIf="inputList[i].type == 'Multiline Text' && inputList[i].allowedValues.length == 0" class="headList">                                  
                            <!-- <input [ngModel]="element[item]" [name]="'input'+j" id="{{'editableText'+j}}" placeholder="Enter text" formControlName="{{item}}{{j}}" type="text" value="element[item]"/>  -->
                            <textarea style="resize:none; max-width:100%" [name]="'input'+j" id="{{'editableText'+j}}" [ngModel]="element[item]" placeholder="Enter text" type="text" value="element[item]" formControlName="{{item}}{{j}}">
                            </textarea>    
                        </div>
                        
                        <mat-form-field style="margin:auto" class="input-full-width" appearance="outline" *ngIf="inputList[i].allowedValues.length > 0">
                            <mat-select [ngModel]="element[item]" [errorStateMatcher]="matcher" formControlName="{{item}}{{j}}">
                                <mat-option *ngFor="let value of inputList[i].allowedValues" [value]="value">
                                    {{ value }}
                                </mat-option>
                                <!-- <mat-error *ngIf="inputForm.get(item+j).errors.invalidValue" style="padding-top:5px;padding-left:-5px">Please enter a valid value</mat-error> -->
                                <!-- <mat-error *ngIf="[item][j].hasError('required')">Please choose an item</mat-error> -->
                            <!-- <mat-error *ngIf="[item][j].hasError('invalidValue')">Please choose any other</mat-error> -->
                            </mat-select>
                        </mat-form-field>

                        <div *ngIf="(inputList[i].type == 'Integer' || inputList[i].type == 'Whole') && !inputList[i].min && !inputList[i].max && inputList[i].allowedValues.length == 0">
                            <!-- <mat-form-field style="margin:auto" class="input-full-width" appearance="outline">                                       
                                <mat-error style="padding-top:5px;padding-left:-5px">Please enter a number</mat-error> -->
                                <input  [ngModel]="element[item]" [name]="'matInput'+j" [errorStateMatcher]="matcher" type="number" class="control-label" matInput placeholder="Enter a numeric value" formControlName="{{item}}{{j}}">
                            <!-- </mat-form-field>   -->
                        </div>

                        <div *ngIf="inputList[i].min && inputList[i].max && inputList[i].allowedValues.length == 0">
                            <!-- <mat-form-field style="margin:auto" class="input-full-width" appearance="outline">                                       
                                <mat-error style="padding-top:5px;padding-left:-5px">Please enter a value between {{inputList[i].min}} and {{inputList[i].max}}</mat-error> -->
                                <input  [ngModel]="element[item]" [name]="'matInput'+j" [errorStateMatcher]="matcher" type="number" min="inputList[i].min" max="inputList[i].max" class="control-label" matInput placeholder="Enter a value between {{inputList[i].min}} and {{inputList[i].max}}" formControlName="{{item}}{{j}}">
                            <!-- </mat-form-field>   -->
                        </div>
                    </td>
                </ng-container>                     
                <tr mat-header-row *matHeaderRowDef="objectKeys(columnList[0]); sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: objectKeys(columnList[0]);"></tr>           
                </table>
            </form>
        </div>
        <div *ngIf="ioType === 'output'" class="table-containerOut columnlist"> 
            <table mat-table [dataSource]="columnList"> 
            <ng-container *ngFor="let item of displayedColumns; let i=index;" matColumnDef="{{item}}">
                <th mat-header-cell *matHeaderCellDef> {{item}} </th>
                <td mat-cell *matCellDef="let element">                             
                    {{element[item]}}                           
                </td>
            </ng-container>
            <ng-container *ngFor="let col of outputColumns; let j=index;" matColumnDef="{{col}}" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> {{col}} </th>
                <td mat-cell *matCellDef="let element">                             
                    <p *ngIf="element[col] == 'Error'" style="color:#ff4141">{{element[col]}}</p>  
                    <p *ngIf="element[col] != 'Error'" style="color:#23c87e">{{element[col]}}</p>                  
                </td>
            </ng-container>     
            <ng-container matColumnDef="feedback" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Feedback </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="element[outputColumns[0]] != 'Error'" class="mdc-icon-button material-icons" style="outline:none;background:transparent;border-color:transparent;" [style.color]="element.feedback==true ? '#23c87e' : 'lightblue'" (click)="changeFeedback(element, 'like')">thumb_up</button>      
                    <button *ngIf="element[outputColumns[0]] != 'Error'" class="mdc-icon-button material-icons" style="outline:none;background:transparent;border-color:transparent;" [style.color]="element.feedback==false ? '#ff4141' : 'lightblue'" (click)="changeFeedback(element, 'dislike')">thumb_down</button>                 
                </td>
            </ng-container>                                                 
            <tr mat-header-row *matHeaderRowDef="objectKeys(columnList[0]); sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: objectKeys(columnList[0]);"></tr>           
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" *ngIf="ioType == 'input'" class="btn btn-outline-primary" (click)="saveInput()" [disabled]="!inputForm.valid">Save</button>
    <button type="submit" *ngIf="ioType == 'output'" class="btn btn-outline-primary" (click)="saveOutput()">Save</button>
</div>
