
// .close{
//   float: right;

//   padding-right: 0px;
//   padding-top: 0px;
//   font-size: 30px;
// }

button:focus {outline:0;}

// .modal-header{

//   border-bottom: 0 none;
// }

.center {
  padding: 40px 0;
  text-align: center;
}

.uploadfilecontainer {
  /* background-image: url("../../assets/cloud-2044823_960_720.png"); */
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 100%;
  margin: 30px auto;
  border: 2px dashed rgb(28, 104, 219);
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #f5fcff;
  opacity: 0.8;
}

.textheader{
  text-align: center;
  margin:auto;
}

.icon{
  font-size: 40px;
  padding:20px;
  cursor:pointer;
  border-radius: 50%;
  color:white;
}

#like {
  background: mediumseagreen;
}

#dislike {
  background: indianred;
}


// .close {
//   background-color   : rgba(255, 255, 255, 0.1);
//   opacity            : 1;
//   width              : 45px;
//   background-image   : url("../../assets/images/cross_white.svg");
//   background-repeat  : no-repeat;
//   background-position: center;
//   background-size    : 60%;

//   &:focus {
//     outline: none;
//   }

//   span {
//     opacity: 0;
//   }
// }

.emotionText{
  font-family: Roboto,Noto Sans JP,sans-serif;
  font-size: 15px;
  margin-bottom: 5%;
  margin-top: 5%;
}